<!DOCTYPE html>
<html>
    <head>
        <title>Python in the browser</title>
        <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" http-equiv="Cache-control" content="max-age=0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center; font-size: 65px;">Python in the browser</h1>
            <br>
            <div id="editor"></div>
            <br>
            <center><button class="btn btn-large btn-primary btn-block btn-lg" id="run">Run</button></center>
            <br>
            <center id="loader">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br>
            </center>
            <div id="output-container" tabindex="0">
                <pre id="output"><span style="color: green;">$</span> █</pre>
            </div>
            <br>
            <div id="error"></div>
        </div>
        <script src="/static/js/index.js"></script>
    </body>
</html>